@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body { 
    /*alinha qlq elemento inline dentro de um pai block, não necessariamente só texto*/
    text-align: center;
    background: linear-gradient(to bottom, #FFCFDC, #fff);
    min-height: 100vh;
}

main {
    /*Deixa o display da tag main inline, ou seja, sem quebrar linha (diferente do block que vai até o fim da largura), porém permite definir altura, largura, etc (propriedade do block), inline-block é uma mistura dos dois */
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%; /*100% da largura do PAI, ou seja da main*/
    max-width: 425px; /*nunca ultrapassar essa medida*/
}

.pokemon__img {
    position: absolute;
    left: 50%; /*determina a posição em relação AO PAI mais próximo com position != static*/
    top: 35%; /* /// idem acima */
    height: 17%; /* altura máxima dele em relação À ELE MESMO*/
    transform: translate(-30%, -20%); /*trasla o elemento horizontal e verticalmente respectivamente (x, y) em relação a ele mesmo*/
}

.pokemon_data {
    position: absolute; /*Em relação ao main (pai mais próximo com position != static*/
    font-weight: 600; /*ajustar negrito*/
    color: #aaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 5vw, 25px); /*(min, default, max) será o default, desde que esteja entre o min e o max*/
}

.pokemon_name {
    color: #3a444d;
    text-transform: capitalize; /*deixa a primeira letra maiúscula*/
}

.form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input_search {
    width:100%; /* da largura do form */
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333; /* parâmetros = (eixo x, eixo y, tam do desfoque, cor), os outros valores depois da vírgula dizem respeito uma segunda sombra atrás da primeira, para dar o efeito que vemos no navegador*/
}

.buttons {
    position: absolute;
    bottom: 11%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
    justify-content: center;
}

.button {
    width: 30%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 15px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: #fff;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}